In [2]:
import pandas as pd

Initializing the Dataframe

In [3]:
data =  {
        'Subject':['English','Math','Science'],
        'Marks':[80, 90, 85],
        'Teacher':['Adam', 'Lina', 'Mary']
        }

df = pd.DataFrame(data, columns=['Subject', 'Teacher', 'Marks'])
df

   Subject Teacher  Marks
0  English    Adam     80
1     Math    Lina     90
2  Science    Mary     85

Extracting the data (column details & row details) from dataframe

In [6]:
print(df.columns)
print(df[['Subject', "Marks"]], df.Subject, sep='\n\n')

Index(['Subject', 'Teacher', 'Marks'], dtype='object')
   Subject  Marks
0  English     80
1     Math     90
2  Science     85

0    English
1       Math
2    Science
Name: Subject, dtype: object

Modifying the column values in dataframe

In [ ]:
df['Marks'] = 10
print(df)

df['Marks'] = [80,90,85]
print(df)

Creating a new column in dataframe

In [ ]:
df['isPass'] = df.Marks > 85
print(df)

# Column can be deleted using a 'del' function like ""del df['Marks']""

Creating a dataframe using a nested dictionary

In [1]:
data =  {
        'Subject':{'one': 'English', 'two':'Math', 'three':'Science'},
        'Marks':{'one': 80},
        'Teacher':{'three':'Adam', 'two':'Lina'}
        }

df = pd.DataFrame(data, columns=['Subject', 'Teacher', 'Marks'])
df

NameError: name 'pd' is not defined

In [ ]:
df['Marks'] = [80, 85,90]
# df['Teacher']['one'] = 'Mary'
df

Transpose the dataframe using the function "T" like ""df.T""

In [ ]:
df.T

Changing the Column Name & Index Name

In [ ]:
df.columns = ['Sub', 'Teacher', 'Score']
df.index = ['1','2','3']
print(df, end='\n\n')

df.columns.name = 'School Details'
df.index.name = 'Item Count'
print(df)