In [ ]:
import pandas as pd
import numpy as np

# Not duplicate values
df1 = pd.DataFrame( {"Name": ['Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Banana', 'Banana', 'Mango', 'Grape'], 
                    "Location": ['India', 'USA', 'UK', 'India', 'USA', 'USA', 'UK', 'India', 'USA'],
                    "Cost":[80, 120, 140, 70, 110, 50, 60, 90, 120],
                    "Weight" : [1, 1, 1, 2, 2, 3, 3, 4, 5] }
)
df1.index.name = 'ROW_NAME'

# Some duplicate values
df2 = pd.DataFrame( {"Name": ['Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Banana', 'Banana', 'Mango', 'Grape', 'Apple', 'Orange'], 
                    "Location": ['India', 'USA', 'UK', 'India', 'USA', 'USA', 'UK', 'India', 'USA', 'India', 'India'],
                    "Cost":[80, 120, 140, 70, 110, 50, 60, 90, 120, 81, 71] }
)
df2.index.name = 'ROW_NAME'

PIVOT function can assign a columns as a Index, column & values
- But it will not aggregate values in case of multiple values for index

In [ ]:
df1_pivot = df1.pivot(index= 'Name', columns='Location', values='Cost')
df1_pivot

In [ ]:
df1_pivot = df1.pivot(index= 'Name', columns='Location', values=['Cost', 'Weight'])
df1_pivot

In [ ]:
df2_pivot = df2.pivot(index= 'Name', columns='Location', values='Cost')
df2_pivot # This will throw error as there are multiple values for same (index, columns)

MELT function will reshape the dataframe
- All columns will come under 'variable' column
- All values of dataframe will come under 'Value' column
- One column is used to group

The output of the MELT function can be PIVOTED to get the input back (given no duplicate value are not in index)

In [ ]:
df2 = pd.DataFrame( {"Name": ['Apple', 'Mango', 'Orange', 'Banana', 'Berry'],
                    "Place": ['India', 'India', 'India', 'India', 'India'],
                    "Price": [75, 85, 65, 25, 100]})

print(df2, end='\n\n')

df2_melt = pd.melt(df2, id_vars='Name')
print(df2_melt)
print(df2_melt.pivot(index='Name', columns='variable', values='value'))