In [ ]:
import pandas as pd
import numpy as np

# No duplicate values
df1 = pd.DataFrame( {"Name": ['Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Banana', 'Banana', 'Mango', 'Grape'], 
                    "Location": ['India', 'USA', 'UK', 'India', 'USA', 'USA', 'UK', 'India', 'USA'],
                    "Cost":[80, 120, 140, 70, 110, 50, 60, 90, 120],
                    "Weight" : [1, 1, 1, 2, 2, 3, 3, 4, 5] }
)
df1.index.name = 'ROW_NAME'

# Some duplicate values
df2 = pd.DataFrame( {"Name": ['Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Banana', 'Banana', 'Mango', 'Grape', 'Apple', 'Orange', 'Apple'], 
                    "Location": ['India', 'USA', 'UK', 'India', 'USA', 'USA', 'UK', 'India', 'USA', 'India', 'India', 'USA'],
                    "Cost":[80, 120, 140, 70, 110, 50, 60, 90, 120, 81, 71, 121],
                    "Price":[80, 120, 140, 70, 110, 50, 60, 90, 120, 81, 71, 121] }
)
df2.index.name = 'ROW_NAME'

Recap on PIVOT function. This works when there is no duplicate information and can't do aggregation

In [ ]:
df1.pivot(index='Name', columns='Location', values='Cost')

# Errors out when using df2 with duplicate values
# df2.pivot(index='Name', columns='Location', values='Cost')

PIVOT TABLE

In [ ]:
# By default, the aggregate function is MEAN
df2.pivot_table(index='Name', columns='Location', values='Cost')

In [ ]:
# Aggregate SUM
df2.pivot_table(index='Name', columns='Location', values='Cost', aggfunc=np.sum)

In [ ]:
# Different Aggregate function can be used for each column
df2.pivot_table(index='Name', columns='Location', aggfunc={'Cost': np.sum, 'Price':np.mean})

CROSS TABULATION
- Calculates the frequency of the observation

In [ ]:
pd.crosstab(df2['Name'], df2['Location'])